:host {
  --app-primary-color: #104270;
  --app-secondary-color: #dbb300;
  --app-third-color: #9eb2ba;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #FFF;
  overflow: hidden;
}

a {
  color: #FFF;
  text-decoration: none;
}

.nav-link:hover, .footer-link:hover {
  color: #9eb2ba;
}

h1 {
  padding: 0;
  margin: 16px;
  font-size: 3.5em;
}

h3 {
  padding: 0;
  margin: 4px 16px;
  font-weight: normal;
  font-size: 2em;
}

#wrapper {
  width: 100vw;
  height: 100vh;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #104270;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.left-align {
  display: flex;
  width: 50%;
  flex-grow: 4;
}

.right-align {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-grow: 4;
  align-items: center;
  justify-content: flex-end;
}

#nav-title {
  margin: 0 16px;
  font-size: 1.3em;
}

.nav-link {
  margin: 0 16px;
}

.button {
  padding: 12px 20px;
  background: #D56A56;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  transition: all ease-in-out .2s;
  border: none;
  color: white;
  max-width: 100px;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-image: url('images/bg.jpg');
}

#title-rectangle {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 325px;
  background: rgba(255, 255, 255, .4);
  padding: 16px;
  margin: 0 32px;
}

.link {
  font-style: italic;
  color: #D56A56;
}

#subtitle {
  font-size: 1.5em;
  margin: 0 0 32px 16px;
}

#points {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.point {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 16px 0;
  width: 400px;
}

.num-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 56px;
  height: 56px;
  background: #D56A56;
  border-radius: 50%;
  color: #FFF;
}

.header {
  font-size: 1.7em;
  margin-left: 16px;
  font-weight: bold;
}

.point-text {
  font-size: 1.3em;
  margin-left: 72px;
  color: #E9E9E9;
}

#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, .8);
}

.footer-link {
  margin: 0 16px;
}

