:host {
  --app-primary-color: #104270;
  --app-secondary-color: #dbb300;
  --app-third-color: #9eb2ba;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

.nav-link:hover, .footer-link:hover {
  color: #9eb2ba;
}

h3 {
  padding: 0;
  margin: 4px 16px;
  font-weight: normal;
  font-size: 2em;
}

#wrapper {
  width: 100vw;
  height: 100vh;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background: #104270;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.left-align {
  display: flex;
  width: 50%;
  flex-grow: 4;
}

.right-align {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-grow: 4;
  align-items: center;
  justify-content: flex-end;
}

#nav-title {
  margin: 0 16px;
  font-size: 1.3em;
}

.nav-link {
  margin: 0 16px;
}

.button {
  padding: 12px 20px;
  background: #D56A56;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  transition: all ease-in-out .2s;
  border: none;
  color: white;
  /* max-width: 100px; */
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
}

/* POSTS STYLE */
#search-field {
  height: 22px;
  width: 45vw;
  border: none;
  border-radius: 3px;
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 1em;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 5;
}

#searchButton {
  padding: 8px;
  margin: 0;
  height: 38px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

textarea:focus, input:focus{
  outline: none;
}

#bottom{
  display:flex;
  flex-direction: column;
  color: black;
  align-items: center;
  padding: 8px;
}

#add-button {
  background-color: #104270;
  position: fixed;
  margin-right: 25px;
  margin-bottom: 25px;
  right: 0;
  bottom: 0;
}

#add-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

table {
  font-family: Arial, sans-serif;
  width: 90%;
  border-collapse: collapse;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 8px;
  font-size: 1em;
  border-radius: 3px;
}

th {
  background-color: #104270;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

h1 {
  margin: 16px;
  padding: 0;
  margin: 16px;
  font-size: 2.3em;
}

#prof-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#add-post {
  display: none;
  align-self: center;
  background: white;
  color: black;
  width: 45vw;
  max-width: 620px;
  border-radius: 3px;
  margin: 16px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input-header {
  margin: 8px 0;
  font-size: 1.2em;
}

.property-input {
  height: 18px;
  width: 70%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: .9em;
  margin: 8px 0;
}

.center-align {
  display: flex;
  align-items: center;
}

.mobile-search {
  display: none;
}

.sample-post {
  display: flex;
  flex-direction: column;
  width: 45vw;
  max-width: 620px;
  margin: 4px 0;
  border-radius: 2px;
  padding: 8px;
  font-size: 1.3em;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-section {
  display: flex;
  flex-direction: column;
  margin: 8px 4px;
}

.post-section--wide {
  display: flex;
  flex-direction: row;
  margin: 6px 4px;
  align-items: center;
}

.post-right {
  text-align: right;
}

.txt-name, .txt-price {
  font-size: 1.5em;
}

.txt-edition {
  font-size: 1em;
  font-style: italic;
  flex-grow: 10;
}

.txt-price {
  color: rgb(52, 180, 120);
  flex-grow: 10;
}

.txt-condition {
  color: forestgreen;
  flex-grow: 10;
}

.txt-subject, .txt-class {
  flex-grow: 10;
}

.poster-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.poster-name, .poster-img {
  margin-left: 8px;
}

.poster-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: #D56A56 2px solid;
}
