body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#name, #edition, #price, #condition, #subject, #course, #comment {
    display: block;
}

#input-form {
    display: block;
    align-items: center;
    color: #4755b0;
}

#output-form {
    display: block;
    align-items: center;
    text-align: center;
    color: #4755b0;
}

#own-output-form {
    display: block;
    align-items: center;
    text-align: center;
    color: #4755b0;
}

/* Table */
table {
    border-collapse: collapse;
    width: 75%
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4755b0;
    color: white;
}

/*
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4755b0;
}

#title {
    color: #f2f2f2;
    margin: 20px;
}

#login-buttons {
    float: right;
}
*/